/* =============================================================================
AMO-Spezial
========================================================================== */

//@base-img-url: "../../../../../amo/";
@base-img-url: "amo/";


// Variables
// --------------------------------------------------
@border-radius: 0.4em;
@padding: 1em;
@margin: 1em;
@transition-time: 1s;
/* =============================================================================
Buttons
========================================================================== */
@buttonPadding: 0.5em;
@buttonMargin: 0.2em;

@buttonMiniPadding: @buttonMargin / 2;
@buttonMiniMargin: @buttonMargin / 2;


// Grays
// -------------------------
@black: #000;
@grayDarker: #222;
@grayDark: #333;
@gray: #555;
@grayLight: #999;
@grayLighter: #eee;
@white: #fff;

// Accent colors
// -------------------------
@blue: #049cdb;
@blueDark: #0064cd;
@green: #46a546;
@red: #9d261d;
@yellow: #ffc40d;
@orange: #f89406;
@pink: #c3325f;
@purple: #7a43b6;

// Scaffolding
// -------------------------
@bodyBackground: @white;
@textColor: @grayDark;

// Links
// -------------------------
@linkColor: #08c;
@linkColorHover: darken(@linkColor, 15%);

// Typography
// -------------------------
@sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily: Georgia, "Times New Roman", Times, serif;
@monoFontFamily: Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize: 16px;
@baseFontFamily: @sansFontFamily;
@baseLineHeight: 1em;
@altFontFamily: @serifFontFamily;

@headingsFontFamily: inherit;
// empty to use BS default, @baseFontFamily
@headingsFontWeight: bold;
// instead of browser default, bold
@headingsColor: inherit;
// empty to use BS default, @textColor

// Tables
// -------------------------
@tableBackground: transparent;
// overall background-color
@tableBackgroundAccent: #f9f9f9;
// for striping
@tableBackgroundHover: #f5f5f5;
// for hover
@tableBorder: #ddd;
// table and cell border

// Buttons
// -------------------------
@btnBackground: @white;
@btnBackgroundHighlight: darken(@white, 10%);
@btnBorder: #bbb;

@btnPrimaryBackground: @linkColor;
@btnPrimaryBackgroundHighlight: spin(@btnPrimaryBackground, 20%);

@btnInfoBackground: #5bc0de;
@btnInfoBackgroundHighlight: #2f96b4;

@btnSuccessBackground: #62c462;
@btnSuccessBackgroundHighlight: #51a351;

@btnWarningBackground: lighten(@orange, 15%);
@btnWarningBackgroundHighlight: @orange;

@btnDangerBackground: #ee5f5b;
@btnDangerBackgroundHighlight: #bd362f;

@btnInverseBackground: #444;
@btnInverseBackgroundHighlight: @grayDarker;

// Forms
// -------------------------
@inputBackground: rgba(39, 39, 39, 0.74);
@inputBorder: #313131;
@inputBorderRadius: 0.4em;
@inputDisabledBackground: @grayLighter;
@formActionsBackground: rgba(41, 41, 41, 0.87);

// Dropdowns
// -------------------------
@dropdownBackground: @white;
@dropdownBorder: rgba(0, 0, 0, .2);
@dropdownDividerTop: #e5e5e5;
@dropdownDividerBottom: @white;

@dropdownLinkColor: @grayDark;

@dropdownLinkColorHover: @white;
@dropdownLinkBackgroundHover: @dropdownLinkBackgroundActive;

@dropdownLinkColorActive: @dropdownLinkColor;
@dropdownLinkBackgroundActive: @linkColor;

// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown: 1000;
@zindexPopover: 1010;
@zindexTooltip: 1030;
@zindexFixedNavbar: 1030;
@zindexModalBackdrop: 1040;
@zindexModal: 1050;

// Sprite icons path
// -------------------------
@iconSpritePath: "../img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../img/glyphicons-halflings-white.png";

// Input placeholder text color
// -------------------------
@placeholderText: @grayLight;

// Hr border color
// -------------------------
@hrBorder: @grayLighter;

// Wells
// -------------------------
@wellBackground: #f5f5f5;

// Navbar
// -------------------------
@navbarCollapseWidth: 979px;

@navbarHeight: 40px;
@navbarBackground: darken(@navbarBackgroundHighlight, 5%);
@navbarBackgroundHighlight: #ffffff;
@navbarBorder: darken(@navbarBackground, 12%);

@navbarText: @gray;
@navbarLinkColor: @gray;
@navbarLinkColorHover: @grayDark;
@navbarLinkColorActive: @gray;
@navbarLinkBackgroundHover: transparent;
@navbarLinkBackgroundActive: darken(@navbarBackground, 5%);

@navbarBrandColor: @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground: #111111;
@navbarInverseBackgroundHighlight: #222222;
@navbarInverseBorder: #252525;

@navbarInverseText: @grayLight;
@navbarInverseLinkColor: @grayLight;
@navbarInverseLinkColorHover: @white;
@navbarInverseLinkColorActive: @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover: transparent;
@navbarInverseLinkBackgroundActive: @navbarInverseBackground;

@navbarInverseSearchBackground: lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus: @white;
@navbarInverseSearchBorder: @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor: #ccc;

@navbarInverseBrandColor: @navbarInverseLinkColor;

// Pagination
// -------------------------
@paginationBackground: #fff;
@paginationBorder: #ddd;
@paginationActiveBackground: #f5f5f5;

// Form states and alerts
// -------------------------
@warningText: #c09853;
@warningBackground: #fcf8e3;
@warningBorder: darken(spin(@warningBackground, -10), 3%);

@errorText: #b94a48;
@errorBackground: #f2dede;
@errorBorder: darken(spin(@errorBackground, -10), 3%);

@successText: #468847;
@successBackground: #dff0d8;
@successBorder: darken(spin(@successBackground, -10), 5%);

@infoText: #3a87ad;
@infoBackground: #d9edf7;
@infoBorder: darken(spin(@infoBackground, -10), 7%);

// Tooltips and popovers
// -------------------------
@tooltipColor: #fff;
@tooltipBackground: #000;
@tooltipArrowWidth: 5px;
@tooltipArrowColor: @tooltipBackground;

@popoverBackground: #fff;
@popoverArrowWidth: 10px;
@popoverArrowColor: #fff;
@popoverTitleBackground: darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth: @popoverArrowWidth + 1;
@popoverArrowOuterColor: rgba(0, 0, 0, .25);

