#ioloptionsseite .ui-content {
    height: 550px !important;
    overflow-y: hidden;
}

#ioloptionsseite .linseZeile {
    height: 76px;
}

#ioloptionsseite .linseZeile .accordionLinseHeader {
    padding-top: 3px;
}

#ioloptionsseite .linseZeile ul {
    line-height: 1.2;
}

#ioloptionsseite .ui-collapsible-content {
    height: 470px !important;
}

#ioloptionsseite .ui-collapsible-content .ui-collapsible-content {
    height: 262.4475px !important;
}

#ioloptionsseite .abstandUnten {
    height: 0;
    margin-bottom: -27px;
}

#ioloptionsseite #accordionSeite2 .ui-collapsible-content {
    height: 420px;
}

#ioloptionsseite .ui-footer {
    float: right;
}

#ioloptionsseite .ui-footer.ui-bar-j .footerIsi .footerIsiHeader {
    width: 50px;
    margin-left: 939px;
    margin-top: 1px;
}

#ioloptionsseite #accordionSeite2 .ui-grid-a {
    /*height: 380px;*/
}

#accordionIol1, #accordionIol2, #accordionIol3, #accordionIol4, #accordionIol5, #accordionIol6 {
    display: none;
}

.mitMonofocal #accordionIol1,.mitMultifocal #accordionIol2,.mitSymfony #accordionIol3, .mitSynergy #accordionIol4, .mitSonata #accordionIol5, .mitEyehance #accordionIol6 {
    display: block;
}

.mitSymfony #visionsimulatorseite #iolOptionsBlock {
    height: 118px;
}

.mitSymfony #visionsimulatorseite #iolOptionsBlock #availableOptions {
    line-height: 1.1;
}

.mitSymfony #visionsimulatorseite #iolOptionsBlock #iolOptionsButtonContainer .iolOptionsRow {
    height: 30px;
}

.mitSymfony #visionsimulatorseite #iolOptionsBlock #iolOptionsButtonContainer .iolOptionsRow .iolOptionsButton {
    height: 30px;
    line-height: 30px;
}

.sprache-netherlands #ioloptionsseite #accordionSeite2 #amoAccordion2 .ui-collapsible-content {
    padding: 5px 3px 5px 10px;
}

#linse0.linseZeile {
    display: none;
}

#visionsimulatorseite #iolOptionsBlock #iolOptionsButtonContainer .iolOptionsRow .iolOptionsButton[data-iolbutton="0"] {
    display: none;
}