/* Prevent copy paste for all elements except text fields */
    html {
      overflow-y: scroll;
    }
    input,
    textarea {
      -webkit-user-select: text;
    }
    /* Set up the page with a default background image */
    body {
      font-family: Arial, Helvetica, sans-serif;
      color: #000;
      margin: 0px;
      padding: 0px;
    }
    div[data-role='page'] {
      min-height: 768px !important;
    }
    a {
      cursor: pointer;
    }
    #webAppContainer {
      margin: 0 auto 20px;
      min-height: 748px;
      overflow-x: hidden;
      overflow-y: hidden !important;
      position: relative;
      width: 1024px !important;
    }

    .webApp #webAppContainer {
      box-shadow: 0 0 5px #999999;
      margin: 10px auto;
    }

    div.ui-mobile-viewport-transitioning .ui-page {
      height: auto !important;
    }

    #updateKringel {
      display: none;
    }

    #festerFuss {
      margin: 100px auto 30px;
      width: 1024px;
    }

    #festerFuss .footerIsiBlock {
      display: block;
    }

    #festerFuss .footerIsiHeader {
      display: none;
    }

    .initScreen #festerFuss,
    .oldBrowser #festerFuss,
    .oldBrowser #startseite {
      visibility: hidden;
    }

    /* Splash-Screen, Browser-Warning */

    .oldBrowser #browserWarning {
      display: block;
    }

    /**/

    .initScreen #initScreen {
      visibility: visible;
      display: block !important;
    }

    #initScreen,
    #browserWarning {
      display: none;
    }

    #fullscreenButton {
      display: none;
      position: fixed;
      right: 10px;
      bottom: 10px;
      width: 32px;
      height: 32px;
      background: url('amo/images/fullscreen.png');
      opacity: 0.3;
      text-indent: -9999px;
      cursor: pointer;
    }

    #fullscreenButton:hover {
      opacity: 1;
    }

    .fullscreenEin #fullscreenButton {
      background: url('amo/images/fullscreen_exit.png');
    }

    .fullscreenNativ #fullscreenButton {
      display: block;
    }

    html.mobile #fullscreenButton {
      display: none;
    }

    .iPad .webApp #itunesHinweis-screen,
    .iPad .webApp #itunesHinweis-popup {
      display: block;
    }

    #itunesHinweis-screen {
      background-color: rgba(255, 255, 255, 0.5);
      background-image: none;
      opacity: 1;
    }

    #itunesHinweis-popup {
      margin-left: -150px;
    }

    #itunesHinweis {
      border: 2px solid #EE3A43;
      border-radius: 0;
      font-size: 17px;
      text-align: center;
    }

    #itunesHinweisText {
      padding: 10px 20px;
      border-bottom: 1px solid #DDDDDD;
      box-shadow: 0 -1px 9px rgba(170, 170, 170, 0.31) inset;
    }

    #itunesHinweisCancelBoxEl {
      cursor: pointer;
    }


    #loadingText {
      position: absolute;
      top: 591px;
      left: 651px;
      color: #FFFFFF;
      font-size: 22px;
      font-weight: bold;
    }

    #updateWarnung {
      display: none;
      position: absolute;
      top: 658px;
      left: 52px;
      color: #EE3A43;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.05em;
    }

    #astigSliderBlock slider {
      position: absolute;
    }

    .termsofuse,
    .privacypolicy {
      display: none;
      position: absolute;
      top: 742px;
    }

    .privacypolicy {
      left: 20px;
    }

    .termsofuse {
      left: 272px;
    }

    .termsofuse a,
    .privacypolicy a {
      font-size: 15px;
      letter-spacing: 1px;
      font-weight: bold;
      color: #000;
    }

    .land-usa .termsofuse,
    .land-usa .privacypolicy {
      display: block;
    }
	
		/* quick fix */
	/*#ioloptionsseite .ui-content{height: 545.91px! important;}
	#ioloptionsseite .ui-content .amo_accordion{height: 535px! important;}
	#ioloptionsseite .ui-content .amo_accordion .ui-first-child{height: 504.5px! important;}
	#linsenAccordion .linseZeile {height:76px! important;}
	.linseZeile .accordionLinseHeader{padding: 2.8px 5.9988px 0! important;}
	#ioloptionsseite #accordionSeite2 .ui-grid-a {
    height: 420px;
  }*/