
//@base-img-url: "../../../synergy/";
@base-img-url: "../../../../../../synergy/";

/* Größen */
/* erste Zahl 2048 zweite 1024 */
@skalierung: 0.4999; //1 H 0.5
@schriftGr1: 17px;//35px H 17px 
@schriftGr2: 15px;//30px H 15px 
@schriftGr3: 14px;//28px H 14px 
@schriftGr4: 18px;//36px H 18px 
@schriftGr5: 13px;//25px H 13px 
@schriftGr6: 12px;//23px H 12px 
@schriftGr7: 13px;//26px H 13px 
@schriftGr8: 14px;//31px H 14px 


/* Variablen */

@appWidth: 2048px * @skalierung;
@startseiteBlockWidth: 1840px * @skalierung;
@startseiteButtonWidth: 667px * @skalierung;
@startseiteButtonHeight: 71px * @skalierung;

@nextLinkHeight: 30px; // 60px * @skalierung;
@nextLinkWidth: 379px * @skalierung;

/* Farben */
@farbeRot1: #EE3A43;
@farbeRot2: #ed1d24;


/* Verschiedene Varianten für das Transition-Problem */
.footerAus
{
	//.footerIsi, .isiReference, .isiBlock, .isiTrademark, .scrollUp{display: none;}
	.footerIsiBlock{display: none;}
}

.seitenClip
{
	.ui-page{clip: rect(0, 1024px, 748px, 0);}
}

.inneresScroll
{
	.ui-page
	{
		height: 100%;
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

/* Allgemeines */
html, body  
{
	margin: 0; 
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.231; // line-height allgemein fixieren, speziell für asiatische Schriften
}



/* html{background: url('amo/images/Splashscreen.jpg') no-repeat center 10px #fff;}*/
html {background-color:#fff;}

* {
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none; 

  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none; 

  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none; 
}

input, textarea  { -webkit-user-select: text; }

.amoInputNeutral
{
	border-radius: 0;
	border: none;
	background-color: transparent	;
}

sup
{
	font-size: 0.6em;
	vertical-align: super; //text-top; //Safari und Firefox verhalten sich hier unterschiedlich!!
	line-height: 1;
}

sup.eur
{
	display: none;
}

.eur sup.eur
{
	display: inline;
}

/*#container 
{
   position: absolute;
   width: 100%;
   height: 100%;
}*/

.ui-page 
{ 
	-webkit-backface-visibility: hidden; 
	//-webkit-perspective: 1000;
	-webkit-transform: translate3d(0, 0, 0);
	outline: none;
}

#webAppContainer
{
	background-color: #fff;
}

.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
    overflow: visible;
}

.ui-popup-hidden
{
	display: none;
}

.ui-popup-container
{
	top: 346px !important; // (300px * @skalierung) !important; //20% !important;
	//top: (300px * @skalierung) !important; //20% !important;
	left: 50% !important;
	margin-left: -229px; // -500px * @skalierung;
}

.ui-slider-track
{
	height: 100%;
}

.ui-btn-active
{
	background: none transparent;
	border: none;
	font-family: inherit;
	text-shadow: none;
}

.amoButtonContainer
{
	.ui-btn
	{
		margin: 0;

		&.ui-focus
		{
			box-shadow: none;
		}
		
		&.ui-btn-active
		{
			background: transparent;
			border: none;
			color: inherit;
			font-family: inherit;
			text-decoration: none;
			text-shadow: none;
		}

		.ui-btn-inner
		{
			height: @startseiteButtonHeight;
			padding: 0;
			border: none;
			background: url('@{base-img-url}images/btn_start_red_norm.png') no-repeat 0 0;
			font-size: @schriftGr1;
			font-weight: bold;
			line-height: @startseiteButtonHeight;
			letter-spacing: 4px * @skalierung; //WW
			text-align: center;
			color: #fff;
		}
	}
}

.amoAccordion
{
	&.ui-collapsible-set
	{
		margin: 0;
	}

	.ui-collapsible
	{
		position: relative;

		.blende
		{
			position: absolute;
			height: 70px * @skalierung;
			left: 0;
			right: 0;
			top: 0;
			z-index: 1;
			display: none;
			//outline: 1px dotted red;
		}
	}

	//.ui-collapsible-collapsed{background: none;}

	.amoAccordionOffen
	{
		.ui-collapsible-heading-toggle
		{
			cursor: pointer;
		}

		& > .ui-collapsible-content
		{
			display: block;
		}

		&.ui-collapsible > .ui-collapsible-content > .blende
		{
			display: block;
		}
	}

	.ui-collapsible-heading
	{
		height: 60px * @skalierung;

		a
		{
			border: none;
			border-radius: 0;
			margin: 0;
			height: 100%;

			text-decoration: none;
			line-height: 60px * @skalierung;

			cursor: pointer;

			&:focus
			{
				box-shadow: none;
			}

			&.ui-btn-active
			{
				background-color: transparent;
			}

			.ui-btn-inner
			{
				padding: 0;
				border: none;
				font-size: @schriftGr2; //36px;
				white-space: normal;
			}

			.ui-icon 
			{
				display: none;
			}
		}
	}

	.ui-collapsible-content
	{
		.box-sizing( border-box );
		overflow: hidden;
		display: none;
	}
}

.sliderblock
{
	label, input
	{
		display: none;
	}

	slider:hover
	{
		cursor: pointer;
	}

	div.ui-slider
	{
		width: 1424px * @skalierung; // 100%;
		height: 60px * @skalierung;
		margin: 0;
		border-radius: 0;

		.ui-slider-handle
		{
			width: 122px * @skalierung;// 103px;
			height: 95px * @skalierung;// 80px;
			margin: (-45px * @skalierung) 0 0 (-61px * @skalierung );// -40px 0 0 -51px;
			background: url('@{base-img-url}images/btn_anatomy_slider_touch.png') no-repeat center center; //großer Griff, wenn gedrückt
			box-shadow: none;
			border-radius: 0;

			outline: none;
			position: absolute;
			top: 50%;
			z-index: 1;
			cursor: pointer;

			&.ui-btn-up-j //&.ui-focus
			{
				background: url('@{base-img-url}images/btn_anatomy_slider.png') no-repeat center center; //kleiner Griff, wenn nicht gedrückt

				&:hover, &.dragging
				{
					background: url('@{base-img-url}images/btn_anatomy_slider_touch.png') no-repeat center center; //großer Griff, wenn gedrückt
				}
			}

			span
			{
				border: none;
			}
		}
	}	
}

/* Update-Button und Ladekringel */
.mitUpdateButton
{
	#updateAcceptBlock
	{
		position: relative;
	}/**/
		
		#updateKringel
		{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 30%;
			background: url("@{base-img-url}images/refresh.png") no-repeat scroll 2px 50% transparent;
			cursor: pointer;
		}

	&.loadingFromServer
	{
		#updateKringel
		{
			background: url("@{base-img-url}images/spinner_app_old.gif") no-repeat scroll 2px 50% transparent;
		}
	}

	#updateBlock
	{
		//.box-sizing( border-box );
		padding: 0 0 0 30px;

		//ladeKringel im Span ausschalten
		.ladeKringel
		{
			padding-left: 0 !important;
			background-image: none !important;
		}
	}
}

//Update-Kringel ausschalten, wenn mitUpdateButton im body nicht vergeben ist
.updateKringel
{
	display: none;
}

/* Country-Select */
.countrySelectContainer
{

	overflow: hidden;
	padding: 0;
	border: none;
	margin: 0;

	/*.ui-select, label.select
	{
		display: inline-block;
		vertical-align: top;
	}*/

	label.select
	{
		float: left;
		width: @startseiteBlockWidth - @startseiteButtonWidth - (5px  * @skalierung);
		font-size: @schriftGr1;
		letter-spacing: 8px * @skalierung; //WW
		line-height: @startseiteButtonHeight;
	}

	.ui-select
	{
		float: right;
		width: @startseiteButtonWidth;

		&.ui-btn-acive
		{
			background: transparent;
			border: none;
			color: inherit;
			font-family: inherit;
			text-decoration: none;
			text-shadow: none;
		}
	
		.ui-btn
		{/*
			&.ui-focus
			{
				box-shadow: none;
			}

			&.ui-btn-active
			{
				background: none;
				border: none;
				font-family: inherit;
				text-shadow: none;
			}*/

			.ui-btn-inner
			{
				/*height: @startseiteButtonHeight;
				padding: 0;
				border: none;
				font-size: 35px;
				font-weight: bold;
				line-height: @startseiteButtonHeight;
				letter-spacing: 4px;
				text-align: left;
				color: #fff;*/
				background: url('@{base-img-url}images/btn_start_reddropdown_norm.png') no-repeat 0 0;
				text-indent: 40px * @skalierung;
				text-align: left; 
			}
		}
	}
}

/* Theme j jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj */
.ui-header.ui-bar-j //alle Header außer Startseite
{
	height: 100px; // 46px * @skalierung;	
	background: url('@{base-img-url}images/logo_jnj.png') no-repeat top 0 right 0;
	//background-origin: content-box;

	.abbott-logo
	{
		position: absolute;
		top: 28px;
		left: 28px;
		width: 300px; //64px;
		height: 150px; //72px;
		background: url('@{base-img-url}images/tecnisfamily.png') no-repeat transparent;
	}

	.isi
	{
		position: absolute;
		top: 742px; 
		right: 100px;
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 1px;//WW
		text-decoration: underline;
		cursor: pointer;
	}
}

.ui-footer.ui-bar-j.footer-link
{
	position: static;

	.footerIsi
	{
		.footerIsiHeader
		{
			position: absolute;
			right: 0;
			bottom: 0;
			width: 50px;
		}
	}
}

.ui-footer.ui-bar-j
{
	//padding-top: 50px;

	.footerIsi
	{
		//padding: 0 0 50px;
		//margin: 0 auto;
		//background: url('@{base-img-url}images/btn_arrows2.png') no-repeat 98% 99%;
		//background-origin: content-box;

		.footerIsiHeader
		{
			position: relative;
			height: 42px * @skalierung;
			padding: 0 (25px * @skalierung) (12px * @skalierung);
			margin: 0 (20px * @skalierung);
			/*border-bottom: 2px dashed #555555; ?????????????????????*/
			background: url('@{base-img-url}images/btn_arrows.png') no-repeat right (5px * @skalierung);
			font-size: @schriftGr2;
			line-height: 52px * @skalierung;
			letter-spacing: 1px * @skalierung;//WW

			.scrollDown 
			{
				position: absolute;
				top: 0;
				right: 0;
				height: 50px * @skalierung;
				width: 150px * @skalierung;
				cursor: pointer;
				//outline: 1px dotted;
			}
		}

		.footerIsiBlock
		{
			position: relative;
			padding: 0 (25px * @skalierung) (50px * @skalierung);
			margin: 0 (20px * @skalierung);
			
			.iol1, .iol1b, .iol2, .iol3, .iol4, .iol5, .isiTrademark
			{
				margin-top: 2.2em;
			}

			.scrollUp 
			{
				position: absolute;
				bottom: 0;
				right: 0;
				height: 50px * @skalierung;
				width: 150px * @skalierung;
				background: url('@{base-img-url}images/btn_arrows2.png') no-repeat right 7px;
				cursor: pointer;
				//outline: 1px dotted;
			}			
		}

		p
		{
			font-size: @schriftGr3;
		}
	}
}

/* Theme k kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */
.ui-header.ui-bar-k //nur Header Startseite
{
	height: 240px * @skalierung;	
	//padding-top: 37px * @skalierung;
	background: url('@{base-img-url}images/logo_jnj.png') no-repeat top 0 right 0;
	//background-origin: content-box;

	.abbott-logo
	{
		position: absolute;
		top: 28px;
		left: 28px;
		width: 300px; // 64px;
		height: 150px; //72px;
		background: url('@{base-img-url}images/tecnisfamily.png') no-repeat transparent;
	}

	.isi
	{
		position: absolute;
		top: 742px; 
		right: 100px;
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 1px;
		text-decoration: underline;
		cursor: pointer;
	}
}

/* Logo ausblenden */
.logoaus .ui-header.ui-bar-k .abbott-logo, .logoaus .ui-header.ui-bar-j .abbott-logo {background-image: none;}

/*.logoaus .ui-header.ui-bar-j 
{
	background: url('@{base-img-url}images/Logo_Abbott_Promise.png') no-repeat (1825px * @skalierung) (-2px * @skalierung);
	background-origin: content-box;
	color: inherit;
}

.logoaus .ui-header.ui-bar-k
{
	background:  url('@{base-img-url}images/Logo_Heroic_A.png') no-repeat 0px (43px * @skalierung)
		, url('@{base-img-url}images/Logo_TFamily_VStitle_o.png') no-repeat (634px * @skalierung) (60px * @skalierung),
				url('@{base-img-url}images/Logo_Abbott_Promise.png') no-repeat (1825px * @skalierung) (60px * @skalierung);
	background-origin: content-box;
}*/

/* alle Seiten*/
.abstandoben
{
	height: 31px; //153px * @skalierung;
}

.ui-page
{
	//background-size: 100% auto;
}

.ui-page .navLink 
{
	.box-sizing( border-box );
	width: 234px;
	text-decoration: none;
	color: #fff;
	font-size: @schriftGr3; //33px;
	line-height: @nextLinkHeight;
	font-weight: bold;
	//text-indent: 64px;
	letter-spacing: 2px * @skalierung;//WW
	//text-align: center;
	text-transform: uppercase;

	overflow: hidden;
	text-overflow: clip; 
	white-space: nowrap;
}

.ui-page .backLink
{
	padding-left: 40px; // 70px * @skalierung;
}

.ui-page .nextLink
{
	padding-right: 40px; // 70px * @skalierung;
	text-align: right;
}

.ui-page .homeLink
{
	float: left;
	width: 55px; // 128px * @skalierung;
	height: 60px * @skalierung;
	margin-left: 15px * @skalierung;
	background: url('@{base-img-url}images/btn_ioloptions_home.png') no-repeat 0 0;
}

.ui-page .navTitel
{
	font-size: @schriftGr1;
	font-weight: bold;
	letter-spacing: 3px; // 11px * @skalierung;
	line-height: 60px * @skalierung;
	//text-indent: 52px * @skalierung;	
	text-align: center;
}

div.navHeader
{
	height: @nextLinkHeight;
	overflow: visible;

	.prevLinkBlock
	{
		position: relative;
		//width: (2048* @skalierung) - @nextLinkWidth ;
		width: 788px; // (2048* @skalierung) - @nextLinkWidth ;
		margin: 0;

		.backLink
		{
			float: left;
		}
	}

	.nextLink
	{
		//position: relative;
		float: right;
		//width: @nextLinkWidth;
		//height: @nextLinkHeight;
		margin-right: -0.5px;//WW
	}

}

/* Einzelseiten */
//Startseite ------------------------------------------------
#startseite
{
	//background: url('@{base-img-url}images/bg_start.jpg') no-repeat 0 (-40px * @skalierung) #fff;

	.abstandoben
	{
		height: 220px * @skalierung;
		padding-top: 1px;

		h1
		{
			width: 918px;
			height: 40px;
			line-height: 40px;
			margin: 20px auto 0;
			border-radius: 4px;
			background-color: @farbeRot2;
			color: #fff;
			letter-spacing: 4px;
			text-transform: uppercase;
			text-align: center;
			font-weight: normal;
			font-size: 22px;
		}
	}

	.ui-content
	{
		width: @startseiteBlockWidth;
		margin: 0 auto;
		padding: 0;

		#termsHeader
		{
			margin-top: 80px * @skalierung;
			font-size: @schriftGr1;
			letter-spacing: 8px * @skalierung;
		}

		#termsBlock
		{
			height: 445px * @skalierung;
			padding: 10px * @skalierung;
			border: 1px solid #000;
			margin-top: 7px * @skalierung;
			overflow-x: hidden;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			font-size: @schriftGr2;

			p
			{
				margin: 0 0 1em;
			}
		}

		#startPfeil
		{
    		height: 100px * @skalierung;
			//background: url("@{base-img-url}images/btn_arrows.png") no-repeat scroll center 15px transparent;
		}



		#updateBlock
		{
			width: 570px;
			.box-sizing( border-box );
			//padding: 20px;

			#updateBlock-a
			{
				margin-top: 6px * @skalierung;
				font-size: @schriftGr3;
				letter-spacing: 3px * @skalierung;
			}

			#updateBlock-b
			{
				font-size: @schriftGr5;
				letter-spacing: 2px * @skalierung;

				.ladeKringel
				{
					padding-left: 20px;
					background: url("@{base-img-url}images/spinner_app_old.gif") no-repeat scroll 0 0px transparent;
					color: #ee3a43;
				}
			}
		}

		#acceptBlock 
		{
			position: relative;
			float: right;
			width: 340px;
			text-align: right;

			#acceptButtonBlende
			{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: @startseiteButtonWidth;
				background-color: rgba( 240, 240, 240, 0.7 );
				display: none;
				z-index: 12;
			}

			&.disabled #acceptButtonBlende
			{
				display: block;
			}

			.ui-btn
			{
				display: inline-block;
				width: @startseiteButtonWidth;
				//margin: 0;

				/*&.ui-btn-active
				{
					background: transparent;
					border: none;
					color: inherit;
					font-family: inherit;
					text-decoration: none;
					text-shadow: none;
				}

				.ui-btn-inner
				{
					height: @startseiteButtonHeight;
					padding: 0;
					border: none;
					background: url('@{base-img-url}images/btn_start_red_norm.png') no-repeat 0 0;
					font-size: 35px;
					font-weight: bold;
					line-height: @startseiteButtonHeight;
					letter-spacing: 4px;
					text-align: center;
					text-indent: 67px;
					color: #fff;
				}*/
			}

			.ui-btn-text
			{
				text-transform: uppercase;
				font-weight: normal;
			}
		}

	}// Ende Content

	#popupPasswort-screen
	{
		background-image: none;
		background-color: #fff;
		display: none;
	}

	#popupPasswortContainer
	{
		display: none;
	}

	#popupPasswort
	{
		
		.box-sizing( border-box );
		width: 916px * @skalierung; //876px; 
		height: 541px * @skalierung; //501px; //389px;
		padding: (50px * @skalierung) (50px * @skalierung) (20px * @skalierung);
		background: url('@{base-img-url}images/gph_start_password_2.png') no-repeat 0 0;
		color: #fff;
		box-shadow: none;
		font-size: @schriftGr1;
		text-align: center;

		& > div
		{
			margin: 0 auto;
		}

		#popupPasswortTextContainer
		{
			width: 720px * @skalierung;
			padding: (34px * @skalierung) 0 0;
		}

		#popupPasswortText
		{
			height: 154px * @skalierung; //180px;
			font-size: @schriftGr2;
			text-align: justify;
			line-height: 1;
		}

		#popupPasswortWarnung
		{
			height: 65px * @skalierung;
			font-size: @schriftGr4;
			
			.richtig
			{
				color: #fff;
			}

			.falsch
			{
				display: none;
				color: #000;
			}

		}

		#popupPasswortTextContainer
		{
			&.fehler
			{
				.richtig
				{
					display: none;
				}

				.falsch
				{
					display: inline;
				}
			}
		}

		#popupPasswortEingabeContainer
		{
			height: 58px * @skalierung;
			width: 720px * @skalierung; //706px;

			#popupPasswortEingabe
			{
				height: 60px * @skalierung;
				padding-bottom: 0;
				padding-top: 0;
				margin: 0;
				border-radius: 4px * @skalierung;//WW
				background-color: #fff;
				box-shadow: none;
				line-height: 60px * @skalierung;
				font-family: Arial, Helvetica, sans-serif;
				font-size: @schriftGr1;
				text-align: center;
			}
		}

		#popupPasswortButtonsContainer
		{
			height: 128px * @skalierung;
			line-height: 128px * @skalierung;

			.ui-btn
			{
				display: inline-block;
				vertical-align: middle;
				width: 368px * @skalierung;
				//height: 97px;

				.ui-btn-inner
				{
					background: url('@{base-img-url}images/btn_start_password_nor.png') no-repeat 0 0;
					height: 97px * @skalierung;
					line-height: 97px * @skalierung;
				}

				&.ui-focus
				{
					.ui-btn-inner
					{
						background: url('@{base-img-url}images/btn_start_password_pressed.png') no-repeat 0 0;
					}
				}
			}
		}
	}

	.abstandUnten
	{
		height: 134px * @skalierung;
	}

	.test.ui-footer
	{
		padding-top: 50px * @skalierung;
		background: url('@{base-img-url}images/btn_arrows.png') no-repeat 97% 32px;//WW

		#footerIsi
		{
			padding: 0 (50px * @skalierung) (50px * @skalierung);
			//margin: 0 auto;
			background: url('@{base-img-url}images/btn_arrows2.png') no-repeat 97% 99%;//WW

			p
			{
				font-size: @schriftGr6;
			}
		}
	}
}

.passwortpopup #startseite
{
	#popupPasswort-screen
	{
		display: block;
	}

	#popupPasswortContainer
	{
		display: block;
	}
}

//WelcomeSeite ------------------------------------------------
#welcomeseite
{
	@nextLinkWidth: 379px * @skalierung;
	//background: url('@{base-img-url}images/bg_main.jpg') no-repeat 0 (-40px * @skalierung) #fff;

	.prevLinkBlock
	{	
		//width: (2048 * @skalierung) - @nextLinkWidth;

		.backLink
		{
			//width: @nextLinkWidth;
			background: url('@{base-img-url}images/btn_main_home.png') no-repeat 0 0;
		}
	}

	.nextLink
	{
		//width: @nextLinkWidth;
		background: url('@{base-img-url}images/btn_main_starttour.png') no-repeat 0 0;
	}

	#welcomeText
	{
		font-size: @schriftGr2;
		height: 144px * @skalierung;
		line-height: 1.1;
		padding: 34px 32px 0; //33px 24px 0; (24px * @skalierung) (49px * @skalierung) 0;
		text-align: justify;
	}

	/*#welcomeHeader
	{
		font-size: 36px;
		letter-spacing: 11px;
		line-height: 60px;
		text-indent: 52px;
	}*/

	.ui-content
	{
		padding: 0 (8px * @skalierung) 0;
	}

	#navBoxContainer
	{
		background: url('@{base-img-url}images/btn_arrows-right.png') no-repeat scroll (662px * @skalierung) (298px * @skalierung), url('@{base-img-url}images/btn_arrows-right.png') no-repeat scroll (1338px * @skalierung) (298px * @skalierung);
	}

	.navBox
	{
		height: 698px * @skalierung;
		text-decoration: none;
		cursor: pointer;
	}

	.boxHeader
	{
		height: 50px * @skalierung;
		padding: (7px * @skalierung) (63px * @skalierung) 0;
		color: #FFFFFF;
		line-height: 45px * @skalierung;
		font-size: @schriftGr2; //36px;
		font-weight: bold;
	}

	.boxContent
	{
	   padding: (26px * @skalierung) (63px * @skalierung) 0;
		font-size: @schriftGr2;
		color: #000;
	}

	#boxEyeWorks
	{
		background: url('@{base-img-url}images/btn_main_anatomy.png') no-repeat scroll center 0px;
	}

	#boxIOLOptions
	{
		background: url('@{base-img-url}images/btn_main_ioloptions.png') no-repeat scroll center 0px;
	}

	#boxVisionSimulator
	{
		background: url('@{base-img-url}images/btn_main_simulator.png') no-repeat scroll center 0px;
	}

	.abstandUnten
	{
		height: 208px * @skalierung;
	}
}

//How the Eye Works ------------------------------------------------
#eyeworksseite
{
	@nextLinkWidth: 464px * @skalierung;
	//background: url('@{base-img-url}images/bg_anatomy.jpg') no-repeat 0 (-40px * @skalierung) #fff;


	.prevLinkBlock
	{	
		width: (2048 * @skalierung) - @nextLinkWidth;

		.backLink
		{
			width: 464px * @skalierung;
			background: url('@{base-img-url}images/btn_anatomy_home.png') no-repeat 0 0;
			//text-indent: 120px;
		}
	}

	.nextLink
	{
		width: @nextLinkWidth;
		background: url('@{base-img-url}images/btn_anatomy_forward.png') no-repeat 0 0;
	}

	.ui-content
	{
		height: 870px * @skalierung; //750px * @skalierung; //740px;
		padding: 0;
		margin: (48px * @skalierung) (50px * @skalierung) 0; //(167px * @skalierung) (50px * @skalierung) 0;
	}

	#eyeExamplesContainer
	{

		.ui-block-a
		{
			width: 416px * @skalierung;
			margin: 0;

			.ui-collapsible
			{
				margin: 0 0 (18px * @skalierung);
				background: none;
				//background: url('@{base-img-url}images/btn_anatomy_simtextfield.png') no-repeat 0 (34px * @skalierung);

				&:last-child
				{
					margin: 0;
				}
			}

			.amoAccordionOffen
			{
				background: url('@{base-img-url}images/btn_anatomy_simtextfield.png') no-repeat 0 (34px * @skalierung);

			}
			
			//.ui-collapsible-collapsed{background: none;}

			.ui-collapsible-heading
			{
				//height: 60px;
				background: url('@{base-img-url}images/btn_anatomy_simselect.png') no-repeat 0 0;

				a
				{
					color: #fff;
					/*border: none;
					border-radius: 0;
					margin: 0;
					height: 100%;

					text-decoration: none;
					line-height: 60px;

					&:focus
					{
						box-shadow: none;
					}

					&.ui-btn-active
					{
						background-color: transparent;
					}
*/
					.ui-btn-inner
					{
						padding: 0 0 0 (20px * @skalierung);
						//border: none;
						//font-size: 30px; //36px;
						//white-space: normal;
					}

					/*.ui-icon 
					{
						display: none;
					}*/
				}
			}

			.ui-collapsible-content
			{
				height: 322px * @skalierung;
				padding: (10px * @skalierung) (20px * @skalierung);
				//.box-sizing(border-box);
				//overflow: hidden;
				font-size: @schriftGr3;
				line-height: 1.1;
			}
		}

		.ui-block-b
		{
			width: 1440px * @skalierung;
			height: 682px * @skalierung; //height plus padding ist 750px
			padding: (186px * @skalierung) 0 0 (41px * @skalierung); // (68px * @skalierung) 0 0 (41px * @skalierung); //45px;

			#simVision
			{
				//position: relative;
				//left: -7px;
			}

			#simVisionContainer
			{
				position: relative;
				height: 285px;
				width: 712px;

				img
				{
					position: absolute;
					top: 0;
					left: 0;
					visibility: hidden;
				}
			}

			.sliderblock
			{
				margin-top: 20px * @skalierung;
				margin-bottom: 12px * @skalierung;

				label, input
				{
					display: none;
				}



				div.ui-slider
				{
					//width: 1424px; // 100%;
					//height: 60px;
					//margin: 0;
					//border-radius: 0;
					background: url('@{base-img-url}images/gph_anatomy_sliderbar.jpg') no-repeat 0 center;
					//background-color: #009ADE;

					/*.ui-slider-handle
					{
						width: 71px;
						height: 58px;
						margin: -30px 0 0 -30px;
						background: url('@{base-img-url}images/btn_anatomy_slider.png') no-repeat 0 0;
						box-shadow: none;
						border-radius: 0;

						span
						{
							border: none;
						}
					}*/
				}
			}
		}
	}

	.abstandUnten
	{
		height: 160px * @skalierung; //170px;
	}
}

//IOL-Options ------------------------------------------------
#ioloptionsseite
{
	@nextLinkWidth: 408px * @skalierung;
	//background: url('@{base-img-url}images/bg_ioloptions.jpg') no-repeat 0 (-40px * @skalierung) #fff;

	.prevLinkBlock
	{	
		//width: (2048 * @skalierung) - @nextLinkWidth;

		.backLink
		{
			//width: 408px * @skalierung;
			background: url('@{base-img-url}images/btn_ioloptions_backward.png') no-repeat 0 0;
			//text-indent: 120px;
			//padding-left: 46px * @skalierung;
		}

	}

	.nextLink
	{
		//width: @nextLinkWidth;
		background: url('@{base-img-url}images/btn_ioloptions_forward.png') no-repeat 0 0;
	}

	.ui-content
	{
		height: 900px * @skalierung;
		padding: 0;
		margin-top: 30px * @skalierung;
		color: #fff;
	}

	//Das Accordion
	/*.amoAccordion
	{
		width: 1953px;
	}*/

	.ui-collapsible-heading
	{
		height: 69px * @skalierung;
		background: url('@{base-img-url}images/btn_ioloptions_mainselect.png') no-repeat 0 0;
		text-indent: 25px * @skalierung;

		&#iolAccordionHeader1
		{
		background: url('@{base-img-url}images/btn_ioloptions_mainselect.png') no-repeat 0 0;
		}

		&#iolAccordionHeader1.ui-collapsible-heading-collapsed
		{	
			background: url('@{base-img-url}images/btn_ioloptions_mainselect.png') no-repeat 0 0;
		}

		&#iolAccordionHeader2
		{
			margin-top: 15px * @skalierung;
		}

		a
		{
			color: #fff;

			.ui-btn-inner
			{
				line-height: 69px * @skalierung;
			}
		}
	}
	
	.amoAccordionOffen #iolAccordionHeader1.ui-collapsible-heading
	{	
		background: url('@{base-img-url}images/gph_ioloptions_gridheader.png') no-repeat 0 0;
	}

	#accordionSeite1
	{
		width: 1953px * @skalierung;
	}

	#treatmentHeader
	{
	  position: relative;
	  height: 0;
	}
	
	#treatmentHeaderInner
	{
	  position: absolute;
	  right: 0;
	  top: -69px * @skalierung;
	  width: 472px;
	  text-align: right;
	}

	#treatmentHeaderInner > div
	{
		display: table-cell; //inline-block;
	  	width: 116px; //233px * @skalierung;
	  	height: 69px * @skalierung;
	  	border-left: 2px solid transparent;//WW
	  	text-align: center;
	  	vertical-align: middle;
	  	font-size: @schriftGr3; //30px;
	  	line-height: 69px * @skalierung;
	}

	.ui-collapsible-content
	{
		height: (697px - 15px) * @skalierung;
		padding: 0;
		overflow: visible;
	}

	.linseZeile {
		height: 160px * @skalierung;
		padding-top: 1px; //3px * @skalierung;

		.accordionLinseHeader {
			font-size: @schriftGr4;
			font-weight: bold;
			letter-spacing: 0;
			padding: (11px * @skalierung) (12px * @skalierung) 0;
		}

		& > ul {
			padding: 0 (45px * @skalierung);
			margin: 0;
			font-size: @schriftGr7;
			text-indent: 0px; //16px * @skalierung;
		}
	}

	#linse1
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_monfo.png') no-repeat 0 0;}

	#linse2
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_mulfo.png') no-repeat 0 0;}

	#linse3
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_monto.png') no-repeat 0 0;}

	#linse4
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_multo.png') no-repeat 0 0;}

	#linse5
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_monac.png') no-repeat 0 0;}

	#linse6
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_mulac.png') no-repeat 0 0;}

	#linse7
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_symfo.png') no-repeat 0 0;}

	#linse8
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_symto.png') no-repeat 0 0;}

	#linse9
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_syngy.png') no-repeat 0 0;}

	#linse10
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_synto.png') no-repeat 0 0;}

	#linse11
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_sonat.png') no-repeat 0 0;}

	#linse12
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_sonto.png') no-repeat 0 0;}

	#linse13
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_eyhnc.png') no-repeat 0 0;}

	#linse14
	{background: url('@{base-img-url}images/gph_ioloptions_gridrow_eyhto.png') no-repeat 0 0;}

	//Accordion Seite 2 --------
	#accordionSeite2  //der zweite Accordion-Block
	{
		#iolAccordionHeader2
		{
			width: 976px;
		}

		.ui-grid-a
		{
			height: 466px; //706px * @skalierung;
			margin: (17px * @skalierung) 0 0 (50px * @skalierung);

			.ui-block-a
			{
				width: 416px * @skalierung;
				margin: 0;
			}

			.ui-block-b
			{
				width: auto;
				padding: (16px * @skalierung) 0 0 (60px * @skalierung);
			}
		}

		#amoAccordion2 //das innere Accordion
		{
			width: auto;

			.ui-collapsible
			{
				margin: 0 0 (25px * @skalierung);
				background: none;
				//background: url('@{base-img-url}images/btn_ioloptions_simtextfield.png') no-repeat 0 (32px * @skalierung);

			}

			.amoAccordionOffen
			{
				background: url('@{base-img-url}images/btn_ioloptions_simtextfield.png') no-repeat 0 (32px * @skalierung);
			}

			.ui-collapsible-heading
			{
				height: 60px * @skalierung;
				background: url('@{base-img-url}images/btn_ioloptions_simselect.png') no-repeat 0 0;
			}

			.ui-collapsible-content
			{
				height: 525px * @skalierung;
				padding: (10px * @skalierung) (20px * @skalierung);
				font-size: @schriftGr2;
				color: #000;
			}
		}

		.sliderblock
		{
			margin-top: 30px * @skalierung;

			div.ui-slider
			{
				background: url('@{base-img-url}images/gph_ioloptions_sliderbar.jpg') no-repeat 0 center;
			}
		}
	}

	#simLensesContainer
	{
		position: relative;
		height: 285px;
		width: 712px;

		img
		{
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
		}
	}


	.abstandUnten
	{
		height: 147px * @skalierung;
	}
}


//Vision-Simulator-Seite ------------------------------------------------
#visionsimulatorseite
{
	//@nextLinkWidth: 464px;
	background: url('@{base-img-url}images/bg_simulator.jpg') no-repeat 0 (-40px * @skalierung) #fff;

	.navHeader
	{
		position: relative;
		height: 67px; // 90px * @skalierung;
		//border-bottom: (6px * @skalierung) solid #ee3a43;
	}

	.prevLinkBlock
	{	
		width: 1120px * @skalierung;

		.backLink
		{
			//width: 408px * @skalierung;
			background: url('@{base-img-url}images/btn_simulator_backward.png') no-repeat 0 0;
			//text-indent: 120px;
			//padding-left: 46px * @skalierung;
		}
	}

	#iolOptionsTitel //mit Astigmatism-Check-Box
	{
		position: absolute;
		left: 310px; // 580px * @skalierung;
		bottom: 0;
		height: 182px * @skalierung;
		width: 484px * @skalierung;
		//outline: 2px dashed;

		#astigcover
		{
			position: absolute;
			//outline: 1px dashed purple;
			top: 0px;
			right: 0;
			bottom: -50px;
			left: -3px;
			z-index: 10;			
		}

		#astigmCheckBox
		{
			position: absolute;
			bottom: 35px;
			z-index: 1;
			height: auto; // 48px * @skalierung;
			padding: 0 0 0 51px; // (22px * @skalierung) 0 0 (110px * @skalierung);
			color: #000; // #EE3A43;
			font-size: @schriftGr4;
			//text-indent: 10px * @skalierung;
			cursor: pointer;
			background: url('@{base-img-url}images/gph_simulator_haken_off.png') no-repeat bottom 0px left 16px; // (50px * @skalierung) (6px * @skalierung);//WW
			

			&.on
			{
				background-image: url('@{base-img-url}images/gph_simulator_haken_on.png'); // (50px * @skalierung) (6px * @skalierung);//WW

				+ #astigSliderBlock
				{
					opacity: 1;

					#astigcover
					{
						display: none;
						z-index:-1;
					}
				}

			}
		}

		#astigSliderBlock
		{
			//width: 100%;
			//height: 5px;
			//margin-top: -3px; // 28px * @skalierung; //12px;
			position: absolute;
			bottom: 36px;
			width: 100%;
			opacity: 0.3;

			.ui-slider
			{
				display: block; //XXXXXXXXXXXXXXXXXX
				height: 65px * @skalierung;
				width: 380px * @skalierung;
				margin: 0 (54px * @skalierung);
				background: url('@{base-img-url}images/slider-streifen-astigmatism.png') repeat-x 0 center;
			}

			.ui-slider-track
			{
			}

			.ui-slider-handle
			{
				background: url('@{base-img-url}images/btn_simulator_slider.png') no-repeat center; //großer Griff, wenn gedrückt
				background-size: 35px auto;

				&.dragging, &:hover
				{
					//background: url('@{base-img-url}images/btn_simulator_slider_touch.png') no-repeat center center; //kleiner Griff, wenn nicht gedrückt
					background-size: 40px auto;
				}
			}
		}
	}

	#iolOptionsBlock //rechte Seite
	{
		position: absolute;
		bottom: 0;
		right: 7px * @skalierung;
		height: 120px; // 190px * @skalierung; //158px;
		width: 456px; // 910px * @skalierung;
		//outline: 2px dashed;

		#availableOptions {
			color: #000; // #EE3A43;
			font-size: @schriftGr4;
			letter-spacing: 1px;
			font-weight: bold;
			text-align: center;
			//text-indent: 5px * @skalierung;
		}

		#iolOptionsButtonContainer
		{
			margin-top: 4px * @skalierung;

			.iolOptionsRow
			{
				height: 60px * @skalierung;
				margin-bottom: 1px; // 12px * @skalierung;

				.iolOptionsButton
				{
					display: inline-block;
					width: 227px;// 450px * @skalierung;
					height: 60px * @skalierung; //45px;
					background: url('@{base-img-url}images/btn_simulator_iolselect_30p.png') no-repeat 0 0;
					line-height: 60px * @skalierung; //45px;
					text-align: center;
					font-size: 13px; // 30px * @skalierung;
					font-weight: bold;
					cursor: pointer;
					color: #000;

					overflow: hidden;
					text-overflow: clip;
					white-space: nowrap;

					&:first-child
					{
						margin-right: 1px; // 8px * @skalierung;
					}

					&.down
					{
						color: #fff;
						font-weight: bold;
						//text-transform: uppercase;
						background: url('@{base-img-url}images/btn_simulator_iolselect.png') no-repeat 0 0;
					}
				}
			}
		}
	}


	.ui-content
	{
		padding: 0;
		overflow: hidden; //???
	}

	//Simulation - Slider-Block
	#sliderContainerSim
	{
		position: relative;
		height: 840px * @skalierung;
		width: @appWidth;

		.simVis
		{
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		#simVis1
		{
			opacity: 1;
		}
	}

	#simulationLabel
	{
		position: absolute;
		top: 6px; // 5px * @skalierung + 0.5;
		left: 10px; // 10px * @skalierung + 0.5;
		width: 950px; // 221px * @skalierung + 0.5;
		//height: 45px * @skalierung + 0.5;
		//background: url('@{base-img-url}images/gph_simulator_simulation.png') no-repeat center center; 
		//line-height: 45px * @skalierung + 0.5;
		text-align: left;
		color: #fff;
		font-size: 15px; //28px;
	}

	#simSliderBlock
	{
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;
		height: 92px * @skalierung;
		background: url('@{base-img-url}images/gph_simulator_sliderbar_75p.png') no-repeat 0 -2px;

		#simSliderLabelBlock
		{
			height: 62px; 
			border-bottom: 3px solid @farbeRot2;
		}

		.simSliderLabel
		{
			display: table-cell;
			width: 151px; // 300px * @skalierung; //14.2857%;
			height: 88px * @skalierung; //92px; //92px ist die Größe der Sliderbar
			vertical-align: middle;
			text-align: center;
			font-size: 15px; //@schriftGr3;//WW
			color: #fff;
			//outline: 1px dotted #fff;

			&.ohneLinse
			{
				width: 143px; // (282px * @skalierung);
			}

			&:nth-child(n+4)
			{
				font-size: @schriftGr3;//WW
				line-height: 0.9;
			}

			&:last-child
			{
				width: auto;
				min-width: 298px * @skalierung;
			}

		}

		//Slider-Label ein und ausblenden je nach Produkt
		.simSliderLabel
		{
			.prod, .astig
			{
				//erst mal alles ausblenden
				display: none;
			}
		}

		&.mitAstig .astig
		{display:inline;}

		&.mitAstig .normal
		{display: none;}

		&.prod1 .prod1,
		&.prod2 .prod2,
		&.prod3 .prod3,
		&.prod4 .prod4,
		&.prod5 .prod5,
		&.prod6 .prod6,
		&.prod7 .prod7, 
		&.prod8 .prod8, 
		&.prod9 .prod9, 
		&.prod10 .prod10, 
		&.prod11 .prod11, 
		&.prod12 .prod12, 
		&.prod13 .prod13, 
		&.prod14 .prod14
		{
			display: inline;
		}

		@marginRL: 66px * @skalierung;
		
		slider
		{
			display: block;
			margin: -62px 32px 0; // 0 @marginRL;
		}

		div.ui-slider
		{
			
			top: 0; // -92px * @skalierung; //-28px;
			width: @appWidth - @marginRL - @marginRL;
			height: 80px;
			
			//background: url('@{base-img-url}images/streifen2.png') repeat 0 0;
			//background-size: 8px 100%;
			background: none transparent;

			.ui-slider-handle
			{
				margin: 0 0 0 (-61px * @skalierung);
				top: 35px;

				background: url('@{base-img-url}images/btn_simulator_slider.png') no-repeat center; //kleiner Griff, wenn nicht gedrückt

				&:hover, &.dragging
				{
					//background: url('@{base-img-url}images/btn_anatomy_slider_touch.png') no-repeat center center; //großer Griff, wenn gedrückt
					background-size: 50px auto;
				}
			}
		}
	} //Ende SimSliderBlock

		//Slider-Caption nach Produkt und Slider-Stufe einblenden
		#simCaption
		{
			//erst alle Captions ausblenden
			div > div
			{
				display: none;
			}

			&.prod1 //Produkt 1 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap4,
				.simCapSliderStufe5 > .simCap5,
				.simCapSliderStufe6 > .simCap6,
				.simCapSliderStufe7 > .simCap7
				{display: block;}
			}

			&.prod2 //Produkt 2 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap9,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap11
				{display: block;}
			}

			&.prod3 //Produkt 3 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap12,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap14
				{display: block;}
			}

			&.prod4 //Produkt 4 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap16,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap18
				{display: block;}
			}

			&.prod5 //Produkt 5 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap13,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap15
				{display: block;}
			}

			&.prod6 //Produkt 6 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap17,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap19
				{display: block;}
			}

			&.prod7 //Produkt 7 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap21,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap23
				{display: block;}
			}

			&.prod8 //Produkt 8 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap22,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap24
				{display: block;}
			}

			&.prod9 //Produkt 9 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap25,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap26
				{display: block;}
			}

			&.prod10 //Produkt 10 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap27,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap28
				{display: block;}
			}

			&.prod11 //Produkt 11 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap29,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap30
				{display: block;}
			}

			&.prod12 //Produkt 12 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap31,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap32
				{display: block;}
			}

			&.prod13 //Produkt 13 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap33,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap34
				{display: block;}
			}

			&.prod14 //Produkt 14 --
			{
				.simCapSliderStufe1 > .simCap1,
				.simCapSliderStufe1astig > .simCap20,
				.simCapSliderStufe2 > .simCap2,
				.simCapSliderStufe3 > .simCap3,
				.simCapSliderStufe4 > .simCap8,
				.simCapSliderStufe5 > .simCap35,
				.simCapSliderStufe6 > .simCap10,
				.simCapSliderStufe7 > .simCap36
				{display: block;}
			}

		}

	#simCaption
	{
		height: 140px * @skalierung;
	   padding: 53px 5px 0; // (40px * @skalierung) (10px * @skalierung) 0;//40px 200px 0;
		//.box-sizing( padding-box );
	   font-size: 15px;//@schriftGr8;
	   text-align: center;

	   &.pfeil
	   {
			background: url('@{base-img-url}images/gph_simulator_mfpfeil.png') no-repeat 879px 37px;  // (1758px* @skalierung) (28px* @skalierung);
	   }

	}

	.abstandUnten
	{
		height: 59px * @skalierung;
	}

	/*.footerIsiHeader
	{
		border-top: 1px solid #555;
	}*/

	/*#hiddenSim
	{
		//display: none;
	}

	#simBox
	{
		position: relative;
		width: 2048px;
		height: 840px;

		.kanne
		{
			position: absolute;
		 	top: 0;
		 	left: 0;
		}
	}*/


}

//Sonder-Werte für einzelne Sprachen
.sprache-korea
{
	#visionsimulatorseite #iolOptionsBlock #iolOptionsButtonContainer .iolOptionsRow .iolOptionsButton
	{
		font-size: 14px;
		letter-spacing: -1px;
	}

	#visionsimulatorseite #simSliderBlock .simSliderLabel:nth-child(n+4)
	{
		font-size: 13px;
	}
}

//preload Images
/*body:after
{
	content: url('@{base-img-url}images/bg_start.jpg') url('@{base-img-url}images/bg_main.jpg') url('@{base-img-url}images/bg_anatomy.jpg') url('@{base-img-url}images/bg_ioloptions.jpg') url('@{base-img-url}images/bg_simulator.jpg') url('@{base-img-url}images/btn_main_home.png') url('@{base-img-url}images/btn_anatomy_slider.png') url('@{base-img-url}images/btn_arrows-right.png') url('@{base-img-url}images/btn_start_password_pressed.png') url('@{base-img-url}images/btn_start_password_nor.png') url('@{base-img-url}images/gph_start_password.png') url('@{base-img-url}images/Logo_TFamily_VStitle_o.png') url('@{base-img-url}images/gph_ioloptions_gridrow_monac.png') url('@{base-img-url}images/gph_ioloptions_gridrow_monto.png') url('@{base-img-url}images/gph_ioloptions_gridrow_monfo.png') url('@{base-img-url}images/gph_ioloptions_gridrow_mulfo.png') url('@{base-img-url}images/gph_ioloptions_gridrow_mulac.png') url('@{base-img-url}images/gph_ioloptions_gridrow_multo.png') url('@{base-img-url}images/btn_main_simulator.png') url('@{base-img-url}images/btn_main_ioloptions.png') url('@{base-img-url}images/btn_main_anatomy.png') url('@{base-img-url}images/gph_simulator_simulation.png') url('@{base-img-url}images/gph_simulator_sliderbar_75p.png') url('@{base-img-url}images/gph_simulator_sliderbar_100p.png') url('@{base-img-url}images/btn_simulator_iolselect_30p.png') url('@{base-img-url}images/btn_simulator_iolselect.png') url('@{base-img-url}images/btn_simulator_backward.png') url('@{base-img-url}images/btn_ioloptions_simtextfield.png') url('@{base-img-url}images/btn_ioloptions_simselect.png') url('@{base-img-url}images/gph_ioloptions_gridheader.png') url('@{base-img-url}images/btn_ioloptions_mainselect.png') url('@{base-img-url}images/btn_ioloptions_forward.png') url('@{base-img-url}images/btn_ioloptions_home.png') url('@{base-img-url}images/btn_ioloptions_backward.png') url('@{base-img-url}images/btn_anatomy_simtextfield.png') url('@{base-img-url}images/btn_anatomy_simselect.png') url('@{base-img-url}images/btn_anatomy_home.png') url('@{base-img-url}images/btn_anatomy_forward.png') url('@{base-img-url}images/btn_main_starttour.png') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_1.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_2.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_3.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_4.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_5.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_6.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_7.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_8.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_9.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_10.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_11.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_12.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_13.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_14.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_15.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_16.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_17.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_18.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_19.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_20.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_21.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_22.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_23.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_24.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_25.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_26.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_27.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_28.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_29.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_30.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_31.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_32.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_33.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_34.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_35.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_36.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_37.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_38.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_39.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_40.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_41.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_42.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_43.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_44.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_45.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_46.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_47.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_48.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_49.jpg') url('@{base-img-url}simulations/sim_norm_jpg/sim_norm_50.jpg');
	display:none;
}*/


//nur für Testzwecke -------------------------------------
.mockup 
{
	.ui-page::after 
	{
	    content: "";
	    opacity: 0.3;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    position: absolute;
	    z-index: -1;   
	}

	#startseite::after
	{
	    background: url('@{base-img-url}/mockup.jpg') no-repeat scroll -116px -94px transparent;
		//background: url('@{base-img-url}images/mockup/mockup.jpg') no-repeat 0px -40px, url('@{base-img-url}images/mockup/start-02.jpg') no-repeat 0px 900px  transparent;
	}

	#welcomeseite::after
	{
		background: url('@{base-img-url}/mockup-welcome.jpg') no-repeat scroll -116px -94px transparent;
		//background: url('@{base-img-url}images/mockup/mockup.jpg') no-repeat -2048px -40px, url('@{base-img-url}images/mockup/welcome-02.jpg') no-repeat 0px 900px  transparent;
	}


/*	#eyeworksseite::after
	{
		background: url('@{base-img-url}images/mockup/mockup.jpg') no-repeat -4096px -40px transparent;
	}
*/
	#ioloptionsseite::after
	{
		//background: url('@{base-img-url}images/mockup/mockup.jpg') no-repeat -6144px -40px transparent;
		background: url('@{base-img-url}/mockup-option.jpg') no-repeat scroll -116px -94px transparent;
	}

	#visionsimulatorseite::after
	{
		background: url('@{base-img-url}/mockup-vs.jpg') no-repeat scroll -116px -94px transparent;
	}
}


.land-australia #ioloptionsseite #linse4,.land-nz #ioloptionsseite #linse4,.land-germany #ioloptionsseite #linse4,.land-netherlands #ioloptionsseite #linse4,.land-norway #ioloptionsseite #linse4,.land-sweden #ioloptionsseite #linse4,.land-uk #ioloptionsseite #linse4,.land-finland #ioloptionsseite #linse4{background:url('../../../amo/images/gph_ioloptions_gridrow_multo_cn.png') no-repeat 0 0;}
.land-australia #ioloptionsseite #linse2,.land-nz #ioloptionsseite #linse2,.land-germany #ioloptionsseite #linse2,.land-netherlands #ioloptionsseite #linse2,.land-norway #ioloptionsseite #linse2,.land-sweden #ioloptionsseite #linse2,.land-uk #ioloptionsseite #linse2,.land-finland #ioloptionsseite #linse2,.land-canadaeng #ioloptionsseite #linse2,.land-canadafre #ioloptionsseite #linse2{background:url('../../../amo/images/gph_ioloptions_gridrow_mulfo_cn.png') no-repeat 0 0}